@charset "utf-8";

/* default */
html {font-size:10px}
html, body{width:100%;height:100%;word-break:keep-all;}
body{font-family:'SUIT', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;font-size:1.3rem;line-height:1.5;letter-spacing:-0.03em;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;-moz-osx-font-smoothing:grayscale;overflow-y:auto;-webkit-overflow-scrolling:touch;overflow-x:hidden;}
body:before{content:'';position:fixed;left:0;top:0;width:100%;height:0;}/* fix webkit bug(scroll event delay) */
body, div, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, iframe, tr, tbody, thead, table, th, td, b, span, strong, label{margin:0;padding:0;box-sizing:border-box;}
dl, dt, dd, ul, ol, li{box-sizing:border-box;list-style:none;padding:0;margin:0;}
h1, h2, h3, h4, h5, h6, dt{font-weight:normal;}
img, fieldset, iframe, button{border:0 none;}
table{/*border-collapse:collapse;*/ border-spacing:0;}
th, td{/*border-collapse:collapse;*/}
legend, caption{height:0;overflow:hidden;opacity:0;}
hr{border:0;border-top:1px solid #ccc;margin:40px 0}
em, u, cite, i, abbr{font-style:normal;text-decoration:none;}
strong, b{font-weight:normal;}
a{color:rgb(16, 79, 252);outline-offset:1px;box-sizing:border-box;}
button{border:0 none;font-family:'SUIT','sans-serif';cursor:pointer;background:transparent;box-sizing:border-box;color:#666}
input, textarea, select, button{box-sizing:border-box;font-family:'SUIT', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;font-size:13px;}
article, aside, details, figcaption, figure, footer, header, main, hgroup, nav, section, summary{display:block;margin:0;padding:0;box-sizing:border-box;}
.hidden{position:absolute !important;width:0 !important;height:0 !important;z-index:-1 !important;color:transparent !important;overflow:hidden !important;font-size:xx-small !important;line-height:0 !important;min-height:0 !important;max-height:0 !important;}
.ui-widget{font-family:'SUIT', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;}
textarea {resize:none}
a, button{color:blue}
* {box-sizing:border-box}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:'SUIT', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;font-size:13px;}
:root {
    --training-primary:#12BABA;
}

::-webkit-scrollbar {height:1.2rem;width:1.2rem;}
::-webkit-scrollbar-track {border-radius:999em;}
::-webkit-scrollbar-thumb {width:.4rem;border-radius:999em;border:.4rem solid transparent;background-color:rgba(0,0,0,.15);background-clip:padding-box;}

.mt-12 {margin-top:1.2rem !important;}
.mt-20 {margin-top:2rem !important;}
.mt-40 {margin-top:4rem !important;}
.mt-80 {margin-top:8rem !important;}
.mt-100 {margin-top:10rem !important;}
.mt-140 {margin-top:14rem !important;}
.p-scroll {padding:1.2rem 1.2rem 2.4rem 2.4rem;}
.sr-only {position:absolute;width:1px;height:1px;margin:-1px;overflow:hidden;clip-path:polygon(0 0, 0 0, 0 0);}
.icon-play {aspect-ratio:1/1;width:2rem;background:url("../images/icon-play.svg") no-repeat 50% 50%;background-size:contain;display:inline-block;}
.primary-color {color:var(--training-primary);}
strong.primary-color {font-weight:800;}
.font-normal {font-family:'sans-serif'}

.training-base {display:flex;flex-direction:column;height:100%;}
.training-head {padding:2.4rem 2.4rem 1.6rem;flex-shrink:0;}
.training-head h3 {margin-top:1.2rem;}
.title-box {background-color:var(--training-primary);padding:.8rem 1.2rem;border-radius:.8rem;font-size:2.4rem;line-height:1;display:inline-flex;align-items:center;color:#fff;font-weight:800}
.title-box.number-flex {display:inline-flex}
.title-box .number-text {width:3.2rem !important;}
.title-box + h2 {margin-top:1.6rem;}
.title-30 {font-size:3rem;line-height:3.6rem;color:#000;}
.title-24 {font-size:2.4rem;line-height:3.2rem;color:#000;font-weight:500;}
.indent-01 {text-indent:2rem;}
.text-24-700 {font-size:2.4rem;line-height:3.6rem;font-weight:700;color:#000;}
.text-24-700 img {height:2.8rem;vertical-align:middle;}
.text-24-700.v2 .round-box {vertical-align:middle;position:relative;top:-.2rem;}
[class^="dot-type-20-"] {font-size:2rem;line-height:3.2rem;position:relative;padding-left:1.2rem;color:#232426;text-align:left;}
[class^="dot-type-20-"]::before {content:'';position:absolute;left:0;width:.4rem;height:.4rem;border-radius:999em;background-color:#232426;top:1.4rem;}
.dot-type-20-400 {font-weight:400;}
.dot-type-20-600 {font-weight:600;}
.text-20-600 {font-size:2rem;line-height:2.8rem;color:#252524;font-weight:600;}
.text-20-600 img {height:2.4rem;vertical-align:middle;position:relative;top:-.2rem;}
.text-20-800 {font-size:2rem;line-height:2.8rem;color:#000;font-weight:800;display:flex;gap:.8rem;align-items:center}
.training-content {flex:1;display:flex;flex-direction:column;overflow:hidden;}
.line-box {border:1px solid var(--training-primary);position:relative;border-radius:.8rem;padding:2rem;}
[data-type="flex"] {display:flex}
[data-j-align="end"] {justify-content:flex-end}
.round-box {border-radius:999em;background-color:var(--training-primary);display:inline-flex;align-items:center;height:2.8rem;color:#fff;gap:.6rem;font-size:1.8rem;padding:0 1.2rem;line-height:1;font-weight:600;}
.round-box .icon-round-box-20 {margin-left:-.8rem;}
.round-box .icon-round-box-20.v2 {margin-left:0;margin-right:-.8rem;}
.icon-round-box-20.v2 {color:var(--training-primary);line-height:1;font-size:1.4rem;font-weight:800;}
.line-box .round-box {position:absolute;left:2rem;top:-1.4rem;}
.icon-round-box-20 {width:2rem;height:2rem;border-radius:999em;background-color:#fff;display:flex;align-items:center;justify-content:center;}
.icon-round-box-24 {width:2.4rem;height:2.4rem;border-radius:999em;background-color:var(--training-primary);display:flex;align-items:center;justify-content:center;}
.icon-round-box-36 {width:3.6rem;height:3.6rem;border-radius:999em;background-color:#fff;display:flex;align-items:center;justify-content:center;}
.icon-01 {display:block;background:url("../images/icon-01.svg") no-repeat 50% 50%;background-size:contain;aspect-ratio:1/1;width:1.6rem;}
.icon-02 {display:block;background:url("../images/icon-02.svg") no-repeat 50% 50%;background-size:contain;aspect-ratio:1/1;width:1.6rem;}
.icon-03 {display:block;background:url("../images/icon-03.svg") no-repeat 50% 50%;background-size:contain;aspect-ratio:16/10;width:1.6rem;}
.icon-04 {display:block;background:url("../images/icon-04.svg") no-repeat 50% 50%;background-size:contain;aspect-ratio:1/1;width:1rem;}
.icon-tip {display:block;background:url("../images/icon-tip.svg") no-repeat 50% 50%;background-size:contain;aspect-ratio:1/1;width:2.8rem;}
.icon-plus {display:block;background:url("../images/icon-plus.svg") no-repeat 50% 50%;background-size:contain;aspect-ratio:1/1;width:1.3rem;}
.entry-img {aspect-ratio:80/158;background:url("../images/robot.png") no-repeat 50% 50%;background-size:contain;width:4rem;position:relative;margin-top:4rem}
.entry-img[data-img="obz-02"] {aspect-ratio:188/93;background-image:url("../images/obz-02.png");width:8rem}
.balloon-box {width:4.8rem;position:relative;display:inline-flex;justify-content:center;color:#fff;font-size:1.6rem;font-weight:600;align-items:flex-start;line-height:2.2rem;}
.balloon-box-bg {aspect-ratio:48/31;background:url("../images/balloon.svg") no-repeat 50% 50%;width:100%;display:block;position:absolute;top:0;left:0;}
.balloon-box-data {position:relative;}
.entry-img .balloon-box {position:absolute;top:-1.8rem;right:-4rem;}
[data-j-align="end"] .entry-img .balloon-box {right:auto;left:-4.4rem;}
[data-j-align="end"] .entry-img .balloon-box-bg {transform:scaleX(-1);}
.swiper-nav-group {display:flex;align-items:center;justify-content:center;gap:1.6rem;background-color:var(--training-primary);padding:1.2rem 0;flex-shrink:0;}
.swiper-nav-group .swiper-button-next,
.swiper-nav-group .swiper-button-prev,
.swiper-nav-group .swiper-pagination {position:static;margin:0}
.swiper-nav-group .swiper-pagination {width:auto;display:flex;font-size:1.6rem;color:rgba(255,255,255,.3);align-items:center;font-weight:700;gap:.8rem;}
.swiper-nav-group .swiper-pagination-current,
.swiper-nav-group .swiper-pagination-total {border-radius:999em;width:3.2rem;height:3.2rem;display:flex;align-items:center;justify-content:center;line-height:1;}
.swiper-nav-group .swiper-pagination-current {background-color:#FFF0CC;color:#000;}
.swiper-nav-group .swiper-pagination-total {background-color:#fff;color:#6A6D73}
.swiper-nav-group .swiper-button-next:after,
.swiper-nav-group .swiper-button-prev:after {display:none}
.swiper-nav-group .swiper-button-next,
.swiper-nav-group .swiper-button-prev {height:3.2rem;width:7.6rem;display:flex;align-items:center;justify-content:center;background-color:#fff;border-radius:999em;font-size:1.6rem;color:#6A6D73;font-weight:700;line-height:1;}
.swiper-content-area {flex:1;overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch;}
.swiper-content-area .swiper-wrapper {height:100%}
.swiper-content-area .swiper-slide {height:0;overflow:hidden}
.swiper-content-area .swiper-slide.swiper-slide-active {height:auto}
/*.swiper-slide > :last-child {padding-bottom:2.4rem;}*/
.training-img-box {margin-top:1.2rem;display:flex;justify-content:flex-start;}
.training-img-box[data-align="col"] {flex-direction:column;}
.training-img-box img {max-width:100%;display:block;}
.training-img-box .relative {display:inline-block;}
.training-img-box .text-20-600 {font-size:1.8rem;}
.width-bubble-box {max-width:92% !important;}
.training-table-basic {width:100%;border-top:.1rem solid #000;}
.training-table-basic caption {font-size:2rem;font-weight:600;color:#000;margin-bottom:.8rem;opacity:1;height:auto;text-align:left;}
.training-table-basic thead th {background-color:#F9F9FA;padding:.8rem;height:4rem;text-align:center;color:#000;font-weight:400;font-size:2rem;border-bottom:.1rem solid #E1E1E1;}
.training-table-basic thead th:not(:last-child) {border-right:.1rem solid #E1E1E1}
.training-table-basic tbody td {padding:.8rem;text-align:center;height:4rem;color:#000;font-weight:400;font-size:2rem;border-bottom:.1rem solid #E1E1E1;}
.training-table-basic tbody td:not(:last-child) {border-right:.1rem solid #E1E1E1}
.training-table-basic tbody[data-align="left"] td {text-align:left;vertical-align:top;}
.training-table-basic tbody th {background-color:#F9F9FA;padding:.8rem;height:4rem;text-align:center;color:#000;font-weight:400;font-size:2rem;border-bottom:.1rem solid #E1E1E1;border-right:.1rem solid #E1E1E1;}
.img-layout {display:flex;flex-direction:column;gap:.8rem;align-items:flex-start;}
.img-layout img {max-width:100%;}
.gray-ling-box {border:.1rem solid #eee;border-radius:.8rem;overflow:hidden}
.gray-title-box {background-color:#F7F7F7;padding:.8rem 1.2rem;display:flex;align-items:center;gap:.8rem;}
.gray-ling-box-content {padding:2rem;}
.mini-title {font-size:2.2rem;color:#232426;font-weight:800;}
.sky-title-box {position:relative;border:.1rem solid #12BABA;padding:.8rem 2.4rem;border-radius:999em;color:#12BABA;font-weight:700;font-size:1.8rem;box-shadow:.1rem .3rem 0 rgba(0,0,0,.05);line-height:2.2rem;}
.sky-title-box:before,
.sky-title-box:after {content:'';position:absolute;top:50%;background-color:#12BABA;width:.4rem;height:.4rem;border-radius:50%;display:block;margin-top:-.2rem;}
.sky-title-box:before {left:1.2rem;}
.sky-title-box:after {right:1.2rem;}
.ability-box {display:inline-flex;border:.2rem solid var(--training-primary);align-items:center;padding:0 .8rem;height:3.2rem;gap:.4rem;border-radius:999em;font-size:1.8rem;color:var(--training-primary);font-weight:700;}
.ability-box .icon-round-box-24 {margin-right:-.5rem;}
.number-flex {display:flex;align-items:flex-start;gap:.4rem;}
.number-flex .number-text {flex-shrink:0;width:2.6rem;}
.number-flex .number-text-round {flex-shrink:0;width:2.4rem;height:2.4rem;margin-right:.4rem;border-radius:999em;color:var(--training-primary);background-color:#9ee8e8;display:inline-flex;align-items:center;justify-content:center;align-self:start;margin-top:.4rem;font-size:1.4rem;font-weight:800;}
.gray-bg-box {padding:1.6rem;background-color:#f7f7f7;border-radius:.8rem;}
.line-box-v2 {border:.1rem solid var(--training-primary);border-radius:.8rem;overflow:hidden;}
.line-box-title {background-color:var(--training-primary);height:4rem;display:flex;align-items:center;padding:0 1.2rem;color:#fff;font-size:2rem;font-weight:600;justify-content:center;}
.line-box-content {padding:1.2rem 2rem;}
.flex-layout {display:flex;align-items:flex-end;gap:2rem;}
.flex-a-start {display:flex;align-items:flex-start}
.flex-col {display:flex;justify-content:center;flex-direction:column;gap:1.2rem;align-items:center}
.relative {position:relative;}
.bubble-box {border:.1rem solid #ccc;padding:.8rem;font-size:1.6rem;color:#000;font-weight:600;line-height:2rem;position:absolute;border-radius:.8rem;text-align:center;white-space:nowrap;background-color:#fff}
.bubble-box:before,
.bubble-box:after {content:'';width:0;height:0;border-style:solid;position:absolute;left:50%;transform:translateX(-50%);top:100%}
.bubble-box:after {border-width:1rem .7rem 0 .7rem;border-color:#fff transparent transparent transparent;}
.bubble-box:before {border-width:1.1rem .8rem 0 .8rem;border-color:#ccc transparent transparent transparent;}
.bubble-box[data-position="bottom"] {bottom:calc(100% + 2rem)}
.bubble-box[data-position="bottom-20"] {bottom:20%}
.bubble-box[data-position="relative"] {position:relative;white-space:normal;padding:1.2rem 1.6rem}
.bubble-box[data-position="relative"]:before,
.bubble-box[data-position="relative"]:after {top:auto;bottom:100%;}
.bubble-box[data-position="relative"]:after {border-width:0 .7rem 1rem .7rem;border-color:transparent transparent #fff transparent;}
.bubble-box[data-position="relative"]:before {border-width:0 .8rem 1.1rem .8rem;border-color:transparent transparent #ccc transparent;}
.bubble-box.center {left:50%;transform:translateX(-50%);}
.bubble-box.right {right:0;}
.bubble-box.right-10 {right:10%;}
.bubble-box.left {left:0;}
.bubble-box.bullet-left:before,
.bubble-box.bullet-left:after {left:9rem;}
/*.bubble-box .dot-type-20-400 {font-size:1.6rem;font-weight:600;line-height:2rem;}
.bubble-box .dot-type-20-400:before {top:.8rem;}*/
.depth-01 {padding-left:3rem;}
.depth-02 {padding-left:3.2rem;}
.flex-group {display:flex;gap:2rem;justify-content:center;align-items:flex-start;}
.flex-group .flex-col {width:calc(50% - 1rem)}
.box-ex {height:2.8rem;width:2.8rem;background-color:#7B7B7B;border-radius:.8rem;display:flex;align-items:center;justify-content:center;line-height:1;flex-shrink:0;color:#fff;font-size:1.6rem;margin-right:.4rem;}
.max-w-55 {max-width:55%;}
.max-w-90 {max-width:90%;}
